
/* une image couvrant le fond - pour tester, pour voir. Un fond 'crème' avec un peu de grain est à considérer 
   police Typekit Livori - revoir pour 'poème' - un peu plus de contraste, de franchise - Garamond ?
*/
body {
    font-family: livori, serif;
    background: url(./img/fond.jpeg) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Adapter la taille de police à celle de l'écran - tentative */
@media (max-width: @screen-xs) {
    body{font-size: 1em;}
}
@media (max-width: @screen-sm) {
    body{font-size: 1.4em;}
}

/* la barre 'header' */
.en-tete {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1rem;
}

.titre {
  display: inline-block;
margin-right: 1rem;
margin-bottom: 0;
font-size: 1.5rem;
align-items: center;
white-space: nowrap;
color: #000;
}

#Informations {
      position: absolute;
      z-index: 1000;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      padding: 1rem;
}

.col-12 {
      padding: 0;
}

#poeme {
  width: 100%;
  padding-top: 150%; /* 1:1.5 'Aspect Ratio' d'un recueil */
  position: relative;
}

.card-body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
